{%extends "base.html"%}
{%load static%}
{%block body%}
   
</head>
<h1 id="login_update_heading_text">reVENUE login</h1>
<body>
    {% if form.errors %}
    <p id="login_update_text">Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <form id="password_recreate_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" />
        {% comment %} 
        This variable, 'next', is a parameter for the url to which this form's
        post request is sent. It is used to redirect the user to the page they
        were on before they logged in.
        {% endcomment %}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p id="login_update_footer_text">Don't have an account? <a href="{% url 'user_create' %}">Sign Up</a></p>

</body>
</html>
{%endblock%}