<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reVENUE</title>
</head>

<div class="header">
    <img src= "{% static "media/ReVENUE_logo.png" %}" alt="home" width="25%" class = "center"/>
  </div>

<body id="background">
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'venue_create' %}">Create A Venue</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            <li><a href="{% url 'user_create' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    {%block body%}
    {%endblock body%}
    <br>
</body>
</html>
 
    

   