<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reVENUE Confirm Delete</title>
</head>
<body>
    <h1>Are you sure you want to delete your review?</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="Delete" value="Delete">
        <input type="submit" name="Cancel" value="Cancel">
    </form>
    
</body>
</html>