<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reVENUE Links</title>
</head>
<body>
    <h1>Links for testing</h1>
    <ul>
    
        <li><a href="{% url 'user_create' %}">New User Registration</a></li>
        {% comment %} if user is logged in, say hi {% endcomment %}
        {% if user.is_authenticated %}
        <li>Hello {{ user.username }} </li>
        <li><a href="{% url 'logout' %}">Logout</a> </li>
        {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
        {% endif %}
        
    </ul>
</body>
</html>