<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reVENUE</title>
    
</head>

<div class="header">
    <img src= "{% static "media/ReVENUE_logo.png" %}" alt="home" width="25%" class = "center"/>
  </div>

<body id="background">
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'venue_create' %}">Create A Venue</a></li>
            <li><a href="{% url 'review_create' %}">Review</a></li>
        </ul>
    </div>
    <br>
    <br>
    <img src= "{% static "media/home_background_1.jpg" %}" alt="venue" width: "70%" class = "center">

    <h1 id="home_heading_text">Welcome to reVENUE! </h1>
    <p  id="home_info_text">
       Please select a venue from the list below to see a review or create your own.  Want to review a venue not on this list?  Simply click on Create a Venue on the link above.  Rock on!<br>
    </p>
    <div class="listbar">    
    <ul>
        {% for venue in venues %}
            <li><a href="{% url 'individual_venue' venue.id %}">{{ venue.name }}</a></li>
        {% endfor %}
    </ul>
    </div>

</body>


</html>