<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reVENUE</title>
</head>

<div class="header">
    <img src= "{% static "media/ReVENUE_logo.png" %}" alt="home" width="25%" class = "center"/>
  </div>

<body style="background-color:rgb(51, 51, 51);">
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'venue_create' %}">Create A Venue</a></li>
            <li><a href="{% url 'review_create' %}">Review</a></li>
        </ul>
    </div>

    <br>
    <br>
    
    <img src= "{% static "media/home_background_1.jpg" %}" alt="venue" width: "80%" class = "center">
    
</body>
</html>