<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reVENUE</title>
    <style>
        a { color: f2f2f2}
    </style>
</head>

<div class="header">
  <img src= "{% static "media/ReVENUE_logo.png" %}" alt="home" width="25%" class = "center">
</div>

<body id="background" >
  
<div class="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'venue_create' %}">Create A Venue</a></li>
        <li><a href="{% url 'review_create' %}">Review</a></li>
    </ul>
</div>
    
<br>
    
<div id="venue_info">
  <h1>{{ venue.name }}</h1>
  <h4>{{ venue.address }}</h4>
  <h4>{{ venue.city }}, {{ venue.state }}, <h4>{{ venue.zipcode }}</h4></h4>
  <h4>{{ venue.website }}</h4>
</div>
    <img src="{{ venue.image }}" width="75%" class="center">

<br>

{%if review_exist%}
<h1 id="Individual_venue_heading_text">Please update or delete your review</h1>


  <div class="clearfix" >
    <a href="{% url 'review_update' venue_id %}" type="button" class="cancelbtn">Update</a>
    <a href="{% url 'review_delete' venue_id %}" type="button" class="deletebtn">Delete</a>
  </div>

<div class="bar_text">
  <div class="middle">Seating:
    <div>{{ seating }} star</div>
  </div>
</div>
  <div class="middle">
    <div class="bar_container">
      <div class="bar-{{ seating }}"></div>
    </div>
  </div>
<div class="bar_text">
<div class="middle">Sound:
  <div> {{ sound }} star</div>
</div>
<div class="middle">
  <div class="bar_container">
    <div class="bar-{{ sound }}"></div>
  </div>
</div>
<div class="bar_text">
  <div class="middle">Scene:
    <div>{{ scene }} star</div>
</div>
<div class="middle">
  <div class="bar_container">
    <div class="bar-{{ scene }}"></div>
  </div>
</div>
  <div class="bar_text">
  <div class="middle">Bathroom:
    <div>{{ bathrooms }} star</div>
      </div>
  <div class="middle">
    <div class="bar_container">
      <div class="bar-{{ bathrooms }}"></div>
    </div>
  </div>
  <div class="bar_text">
  <div class="middle">Overall:
    <div> {{ overall }} star</div>
      </div>
  <div class="middle">
    <div class="bar_container">
      <div class="bar-{{ overall }}"></div>
    </div>
  </div>
  <div class="bar_text">
    <div class="side right">Comments:
    <div>{{ comments }} 
  </div>
  <div class="side right">
    <div class="text_container"> 
  
  {%endif%}
  
</body>
</html>