{%extends "base.html"%}
{%load static%}
{%block body%}
    
<div id="venue_info">
  <h1>{{ venue.name }}</h1>
  <h4>{{ venue.address }}</h4>
  <h4>{{ venue.city }}, {{ venue.state }} {{ venue.zipcode }}</h4>
  <h4><a href="{{ venue.website }}">{{ venue.website }}</a></h4>
  {% comment %} Link to review creation page {% endcomment %}
  <h4><a href="{% url 'review_create' venue.id %}">Review this venue</a></h4>
</div>

<img src="{{ venue.image }}" width="740px" class="center">

<br>
<h1 id="Individual_venue_heading_text">User reviews</h1>
{% for review in reviews %}
  {% if review.owner == user %}
  <h1 id="Individual_venue_heading_text">Please update or delete your review</h1>

  <div class="clearfix" >
    <a href="{% url 'review_update' review.id %}" type="button" class="cancelbtn">Update</a>
    <a href="{% url 'review_delete' review.id %}" type="button" class="deletebtn">Delete</a>
  </div>
  {% endif %}
  

<div class="bar_text">
  <div class="middle">Seating:
    <div>{{ review.seating_rating }} star</div>
  </div>
<div class="middle">
  <div class="bar-container">
    <div class="bar-{{ review.seating_rating }}"></div>
  </div>
 </div>
<div class="bar_text">
  <div class="middle">Sound:
    <div> {{ review.sound_rating }} star</div>
  </div>
<div class="middle">
  <div class="bar-container">
    <div class="bar-{{ review.sound_rating }}"></div>
  </div>
</div>
<div style="bar_text">
  <div class="middle">Scene:
    <div>{{ review.scene_rating }} star</div>
  </div>
<div class="middle">
  <div class="bar-container">
    <div class="bar-{{ review.scene_rating }}"></div>
  </div>
</div>
  <div class="bar_text">
  <div class="middle">Bathroom:
    <div>{{ review.bathrooms_rating }} star</div>
      </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ review.bathrooms_rating }}"></div>
    </div>
  </div>
  <div class="bar_text">
  <div class="middle">Overall:
    <div> {{ review.overall_rating }} star</div>
      </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ review.overall_rating }}"></div>
    </div>
  </div>
  <div class="bar_text">
    <div class="side right">Comments:
    <div>{{ review.comments }} 
  </div>
  <div class="side right">
    <div class="text-container"> </div>
  </div> 
</div>
{%endfor%}
  
</body>
</html>
{%endblock%}