{%extends "base.html"%}
{%load static%}
{%block body%}
    <br>
    <h1 id="Review_update_heading_text">Review update</h1>
    <p id="review_update_text" >Had a different experience than that first time?  Please feel free to update your review for this venue here!</p>
    <form action="" method="post" id="Review_form">
        <p>{{venue.name | title}}</p>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
        <input type="submit" name="Cancel" value="Cancel">
    </form>
    
    
</body>
</html>
{%endblock%}