<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New User Sign-Up</h1>
    <form method="post">
        {% csrf_token %}
        {% comment %} 
        This form variable is created automatically by CreateView generic view.
        form.as_p renders the form vertically. 
        {% endcomment %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <p>Already registered? <a href="{% url 'login' %}?next=/revenue/">Log In</a></p>

</body>
</html>