{%extends "base.html"%}
{%load static%}
{%block body%}
    <title>New User Sign-Up</title>
</head>
<body>
    <h1 id="new_user_heading_text" >New User Sign-Up</h1>
    <form id="new_user_form" method="post">
        {% csrf_token %}
        {% comment %} 
        This form variable is created automatically by CreateView generic view.
        form.as_p renders the form vertically. 
        {% endcomment %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <p id="new_user_footer_text">Already registered? <a href="{% url 'login' %}?next=/revenue/">Log In</a></p>

</body>
</html>

{%endblock%}