body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    margin: 0;
  }

.header {
    padding: 2px;
    font-size: 40px;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Style the links inside the navigation bar */
.navbar a {
    text-decoration: none;
    color: #f2f2f2;
    width: 170px;
    display: block;
    padding: 10px 23px;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

  /*This changes the color of links on the navigation bar on hover */
.navbar a:hover {
    background-color: #2a52be;
    color: #f2f2f2;
  }

 /*Listbar styles the list of venues on home page */
.listbar {
  text-align: center; 
  text-decoration: none; 
}

.listbar ul {
  list-style: none;
}

.listbar a {
  color: f2f2f2;
  font-weight: bold;
  border-left: 1px solid #2a52be;
  border-right: 1px solid #2a52be;
  padding: 9px 9px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.listbar li {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.1em;
  color: f2f2f2
}

 /*This styles the color of the hyperlinks on all pages */
a:link, a:visited {
  color: #f2f2f2;
}

a:hover{
  color:#2a52be
}

a:active{
  color:orange
}


  