<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reVENUE</title>
    
</head>

<div class="header">
 <img src= "{% static "media/ReVENUE_logo.png" %}" alt="home" width="25%" class = "center"/>  
  </div>

<body id="background">
    
<div class="navbar">
   <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'venue_create' %}">Create A Venue</a></li>
      <li><a href="{% url 'review_create' %}">Review</a></li>
   </ul>
</div>

<br>
<br>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6sdT7cf98F4_QUJiEqs14XwqNaE-vZPzqRQ&usqp=CAU" alt="10 best venues in houston.com" width="60%" class="center">

<h1 id="create_review_heading_text">Please leave a review</h1>

<!-- form starts -->

<form id="Review_form"  method="post">
   {% csrf_token %}
   {% comment %} 
   This form variable is created automatically by CreateView generic view.
   form.as_p renders the form vertically. 
   {% endcomment %}
   {{ form.as_p }}
   <input type="submit" value="Save">
</form>
</section>
</main>

</body>
</html>